/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



body {
    background-color: #0d1117;
    color: #f0f6fc;
}


/* Container that controls scaling */
.header-content {
    display: block;
  position: relative;
  width: 100%;
  font-size: 2.5vw; /* Controls scaling */
  height: 3em; /* enough space for image and h1 */
}

/* Title centered at top */
#titolo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 3em; /* inherits from header-content and scales */
  text-align: center;
}

/* Menu icon aligned to top-right */
#menu {
  position: absolute;
  top: 0;
  right: 1em;
  width: 3em; /* scales with container */
  height: auto;
  cursor: pointer;
}

.aligned{
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
}

p{
    font-size: larger;
}